
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
#half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
#half-width img{
    width: 100%;
}
.top-banner{
    background-image:url(images/top-banner.png);
   background-repeat:no-repeat;
}
section{
    height: 500px;
    
}
p{
    color: dimgray;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient( 50deg,orange, tomato);
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;

}
#dream-section{
    margin-top: 150px;
}
#dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-exp{
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
    height: 70%;
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue,cyan);
    border-image-slice: 1;
    background-color: white;
}
.experience-area{
    margin-top: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-h{
    padding-left: 50px;
}
.footerTag{
    text-align: center;
    background-color: black;
    color: white;
    height: 100px;
    padding-top: 50px;
}